<!--<div class="row">-->
<!--  <div class="d-block">-->
<!--    <div class="my-1 message shadow rounded">-->
<!--      <p class="d-inline default-message">{{message.text}}</p>-->
<!--      <div>-->
<!--        <span class="time">{{message.time}}</span>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<div class="d-flex justify-content-start">
  <p class="message rounded d-inline shadow">
    <span class="default-message">
      {{message.text}}
    </span>
    <br/>
    <span class="small text-end align-bottom time">
      {{message.time}}
    </span>
  </p>
</div>
